adium-theme-ubuntu==0.3.4
beautifulsoup4==4.4.1
chardet==2.3.0
cryptography==1.2.3
decorator==4.0.6
enum34==1.1.2
hamster-indicator==0.0.0
html5lib==0.999
idna==2.0
ipaddress==1.0.16
ipython==2.4.1
lxml==3.5.0
mpyq==0.2.5
ndg-httpsclient==0.4.0
numpy==1.11.0
pexpect==4.0.1
ptyprocess==0.5
pyasn1==0.1.9
PyExecJS==1.4.0
pygobject==3.20.0
pyOpenSSL==0.15.1
pyxdg==0.25
requests==2.9.1
sc2reader==0.8.0
simplegeneric==0.8.1
six==1.10.0
unity-lens-photos==1.0
urllib3==1.13.1
