asn1crypto==0.22.0
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.5.0.1
biopython==1.69
bkcharts==0.2
bleach==2.0.0
blinker==1.4
bokeh==0.12.6
certifi==2017.4.17
cffi==1.10.0
chardet==3.0.4
click==6.7
configparser==3.5.0
cryptography==1.9
cycler==0.10.0
Cython==0.25.2
decorator==4.0.11
entrypoints==0.2.3
enum34==1.1.6
Flask==0.12.2
Flask-Login==0.4.0
Flask-Mail==0.9.1
Flask-WTF==0.14.2
funcsigs==1.0.2
functools32==3.2.3.post2
futures==3.1.1
GPy==1.7.7
html5lib==0.999999999
idna==2.5
ipaddress==1.0.18
ipykernel==4.6.1
ipython==5.4.1
ipython-genutils==0.2.0
ipywidgets==6.0.0
itsdangerous==0.24
Jinja2==2.9.6
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.1.0
jupyter-core==4.3.0
MarkupSafe==1.0
matplotlib==2.0.2
mcmcplotlib==0.1.0
mistune==0.7.4
mock==1.3.0
nbconvert==6.3.0
nbformat==4.3.0
notebook==5.0.0
numpy==1.13.0
pandas==0.20.2
pandocfilters==1.4.1
paramz==0.7.4
pathlib2==2.3.0
patsy==0.4.1
pbr==3.1.1
pexpect==4.2.1
pickleshare==0.7.4
#-e git+https://github.com/ptonner/popmachine.git@01eee1909ef39cf990e8cc628c15dd68d041769e#egg=popmachine
prompt-toolkit==1.0.14
ptyprocess==0.5.2
pycparser==2.17
pyfscache==0.9.12
Pygments==2.2.0
pyparsing==2.2.0
pystan==2.14.0.0
PyStan-Cache==0.1.dev0
python-dateutil==2.6.0
pytz==2017.2
PyYAML==3.12
pyzmq==16.0.2
qtconsole==4.3.0
requests==2.18.1
scandir==1.5
scipy==0.19.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
SQLAlchemy==1.1.11
subprocess32==3.2.7
terminado==0.6
testpath==0.3.1
tornado==4.5.1
traitlets==4.3.2
urllib3==1.21.1
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.12.2
widgetsnbextension==2.0.0
WTForms==2.1
